<div class="loader" [hidden]="house"></div>
<div class="back-btn" (click)="goBack()">back</div>
<div class="container mt-5" *ngIf="house">
  <div class="card black-tint" style="width: 60vw;margin: auto">
    <div class="row align-items-center p-2 text-center">
      <div class="col-12 col-lg-4" id="house-img">
        <img class="img-fluid" src="../assets/images/houses/{{house.name}}.jpg" (error)="hideImage('house-img')">
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12 item-name">
            <span>{{house.name | uppercase}}</span>
            <hr>
          </div>
          <div class="col-12 item-data">
            <div class="row" *ngIf="house.region">
              <div class="col-12 col-sm-6 text-sm-right text-muted">Region:</div>
              <div class="col-12 col-sm p-0 text-center text-sm-left">{{house.region}}</div></div>
            <div class="row" *ngIf="house.words">
              <div class="col-12 col-sm-6 text-sm-right text-muted">Words:</div>
              <div class="col-12 col-sm p-0 text-center text-sm-left">{{house.words}}</div></div>
            <div class="row" *ngIf="house.founded">
              <div class="col-12 col-sm-6 text-sm-right text-muted">Founded:</div>
              <div class="col-12 col-sm p-0 text-center text-sm-left">{{house.founded}}</div></div>
            <div class="row" *ngIf="house.diedOut">
              <div class="col-12 col-sm-6 text-sm-right text-muted">Died Out:</div>
              <div class="col-12 col-sm p-0 text-center text-sm-left">{{house.diedOut}}</div></div>
          </div>
          <!-- end item-data -->
        </div>
      </div>
    </div>
  </div>
  <!-- end card -->

  <div class="mt-5">
    <div class="card-deck">
      <div class="card orange-hover text-center" *ngIf="house.currentLord" [routerLink]="['/character',houseDetails.currentLord.id]">
        <div class="card-body">
          <h5 class="card-title">Current lord</h5>
          <img id="{{house.currentLord}}" class="img-fluid" src="../assets/images/characters/{{houseDetails.currentLord.name}}.jpg"
            (error)="hideImage(house.currentLord)" style="height: 10vh">
          <br> {{houseDetails.currentLord.name}}
        </div>
      </div>

      <div class="card orange-hover text-center" *ngIf="house.heir" [routerLink]="['/character',houseDetails.heir.id]">
        <div class="card-body">
          <h5 class="card-title">Heir</h5>
          <img id="{{house.heir}}" class="img-fluid" src="../assets/images/characters/{{houseDetails.heir.name}}.jpg" (error)="hideImage(house.heir)"
            style="height: 10vh">
          <br> {{houseDetails.heir.name}}
        </div>
      </div>

      <div class="card orange-hover text-center" *ngIf="house.overlord" [routerLink]="['/house',houseDetails.overlord.id]">
        <div class="card-body">
          <h5 class="card-title">Overlord</h5>
          <img id="{{house.overlord}}" class="img-fluid" src="../assets/images/houses/{{houseDetails.overlord.name}}.jpg" (error)="hideImage(house.overlord)"
            style="height: 10vh">
          <br> {{houseDetails.overlord.name}}
        </div>
      </div>

      <div class="card orange-hover text-center" *ngIf="house.founder" [routerLink]="['/character',houseDetails.founder.id]">
        <div class="card-body">
          <h5 class="card-title">Founder</h5>
          <img id="founder" class="img-fluid" src="../assets/images/characters/{{houseDetails.founder.name}}.jpg" (error)="hideImage('founder')"
            style="height: 10vh">
          <br> {{houseDetails.founder.name}}
        </div>
      </div>

    </div>
    <!-- end card-deck -->

    <div class="card-columns mt-5">

      <div class="card" *ngIf="house.coatOfArms">
        <div class="card-body">
          <h5 class="card-title">Coat of Arms</h5>
          <p class="card-text">{{house.coatOfArms}}</p>
        </div>
      </div>

      <div class="card" *ngIf="house.titles[0]">
        <div class="card-body">
          <h5 class="card-title">Titles</h5>
          <p class="card-text">
            <small>The titles that {{house.name}} holds.</small>
          </p>
          <ul class="list-group list-group-flush" *ngFor="let title of house.titles; index as i">
            <li class="list-group-item">{{title}}</li>
          </ul>
        </div>
      </div>

      <div class="card" *ngIf="house.seats[0]">
        <div class="card-body">
          <h5 class="card-title">Seats</h5>
          <p class="card-text">
            <small>The seats that {{house.name}} holds.</small>
          </p>
          <ul class="list-group list-group-flush" *ngFor="let seat of house.seats">
            <li class="list-group-item">{{seat}}</li>
          </ul>
        </div>
      </div>

      <div class="card" *ngIf="house.ancestralWeapons[0]">
        <div class="card-body">
            <h5 class="card-title">Ancestral Weapons</h5>
          <p class="card-text">
            <small>Names of the noteworthy weapons that {{house.name}} owns.</small>
          </p>
          <ul class="list-group list-group-flush" *ngFor="let weapon of house.ancestralWeapons">
            <li class="list-group-item lead">{{weapon}}</li>
          </ul>
        </div>
      </div>

      <div class="card" *ngIf="house.cadetBranches[0]">
        <div class="card-body">
          <h5 class="card-title">Cadet Branches</h5>
          <p class="card-text">
            <small>Houses that was founded from {{house.name}}.</small>
          </p>
          <ul class="list-group list-group-flush" *ngFor="let house of houseDetails.cadetBranches; index as i">
            <li class="list-group-item li-hover" [routerLink]="['/house',house.id]">
              <img id="{{house.id}}" class="img-fluid mx-auto house-img" src="../assets/images/houses/{{house.name}}.jpg" style="width: 5vw"
                (error)="hideImage(house.id)">
              <br>{{house.name}}
            </li>
          </ul>
        </div>
      </div>

    </div>
    <!-- end card-columns -->

    <div class="top-margin" *ngIf="house.swornMembers[0]">
      <h3 class="text-center">Sworn Members</h3>
      <p class="text-center">Characters that are sworn to {{house.name}}.</p>
      <div class="item-loader" [hidden]="houseDetails.swornMembers[0]"></div>
      <div class="card-columns">
        <div class="mx-auto" *ngFor="let character of houseDetails.swornMembers">
          <div class="card link" [routerLink]="['/character',character.id]">
            <div class="row align-items-center">
              <div class="col-auto py-0">
                <img id="{{character.id}}" class="img-fluid" src="../assets/images/characters/{{character.name}}.jpg" style="height: 15vh"
                  (error)="hideImage(character.id)">
              </div>
              <div class="col py-3">
                <span>{{character.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- end conatiner -->